@page
@functions
{

  public void OnGet()
  {
    ViewData["Title"] = "Welcome ASP.NET Core!";    //Read by the _Layout
  }
}
<!-- page directive above enables Razor pages -->
<!-- functions directive above instanciates Razor page Model object -->
<!-- Moved all common page elements into a shared layout _Layout -->

<div class="jumbotron">
    <h1 class="display-3">Welcome to SeidoDb.Web</h1>
    <p class="lead">An ASP.NET Core Web client for demonstration</p>
    <hr />
    <h2>This is a Razor page.</h2>
    <p>Step by step we will to use Razorpages to demonstrate connection to SeidoDB using SeidoDbCrude Repository and a RESTFul connection to SeidoDbWebApi Service.</p>
    <p>
        <a class="btn btn-primary"
            href="necklaces">List Necklaces</a>
        <a class="btn btn-primary"
            href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Learn more about ASP.NET Core</a>
    </p>
</div>
