@page
@functions
{
  public void OnGet()
  {ViewData["Title"] = "Halsband";}
}
<hr />
<section>
     <div class="box">
         <a class="btn btn-primary"href="Necklace">List 10 Necklaces</a> <!-- https://localhost:44340/api/Necklace -->
 </div>

    </section>