@page
@functions
{

  public void OnGet()
  {
    ViewData["Title"] = "Black Pearl API";    //Read by the _Layout
  }
}
<!-- page directive above enables Razor pages -->
<!-- functions directive above instanciates Razor page Model object -->
<!-- Moved all common page elements into a shared layout _Layout -->

<div class="jumbotron">
    <center>
    <h1 class="display-3">Welcome to the Black Pearl API</h1>
    <p class="lead">A school assignment that went slighty out of bounds</p>
    <hr />
    <p>
        <a class="btn btn-primary"
            href="necklaces">List Necklaces</a>
    </p>
    </center>
</div>
