@page
@model SeidoDbWebApiConsumerMVC.Pages.NecklacesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Black Pearl API";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr><th>Necklace Detail</th></tr>
        </thead>
        <tbody>
            @if (Model.Necklaces != null)
            {
                @foreach (var neck in Model.Necklaces)
                {
                    <tr>
                        <td><a asp-page="/pearls" asp-page-handler="pearls" asp-route-id="@neck.NecklaceID.ToString()">@neck</a></td>
                        <form method="post">
                            <td><button class="btn btn-default" asp-page-handler="delete" asp-route-id="@neck.NecklaceID.ToString()">Delete</button></td>
                        </form>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>